<div class="container"
fxLayout = "column"
fxLayoutGap="10px">
<div fxFlex>
	<div>
		<h3>
			Feedback
		</h3>
	</div>
</div>
<div fxFlex *ngIf="feedback">
    <mat-card *ngFor = "let feed of feedback">
                <mat-card-header>
                  <mat-card-title>
                  <h2>{{feed.firstname}} {{feed.lastname}}</h2>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                        <dl>
                            <dt><h4>informatii</h4>numar de telefon: {{feed.telnum}}</dt>
                            <dt>email: {{feed.email}}</dt>
                            <dt>poate fi contactat? {{feed.agree}}</dt>
                            <dt>in ce fel ? {{feed.contacttype}}</dt>
                            <dt>mesaj: {{feed.message}}</dt>

                       </dl>
                </mat-card-content>
    </mat-card>
  </div>
</div>