<div fxFlex fxFlexOffset="20px" class="form-size">
<h3>Stiri</h3>
       <h3>Send us your Feedback</h3>

        <form novalidate [formGroup]="stiri" #modstiri="ngForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field class="half-width">
              <input matInput formControlName="titlu" placeholder="Titlu" type="text" required>
            </mat-form-field>
            </p>
            <mat-form-field class="half-width">
            	<textarea matInput formControlName="continut" rows=12></textarea>
            </mat-form-field>
          <button type="submit" mat-button class="background-primary text-floral-white"
          [disabled]="stiri.invalid">Submit</button>
         </form>
         

          
</div>
